<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui" 
      xmlns:ui="http://java.sun.com/jsf/facelets">
    <h:head>
        
      <title >Consultation des Clients</title>
      <h:outputStylesheet library="css" name="styles.css"/> 
       
    </h:head>
    <h:body>
            <ui:include src="c000_menu.xhtml" /> 
        <h:form>

            <f:view locale="#{c000_ContMenu.langue}">
                
                <p:separator   />     

                <p:panelGrid columns="3">

                    <p:outputLabel value="#{msgs.numcli}" for="numcli"/>

                    <p:inputText   id="numcli"   value="#{c100_ContConsClient.numcli}" />

                    <p:commandButton value="OK"   action="#{c100_ContConsClient.rechercher()}" 
                                     update="@all"/>  

                </p:panelGrid>
                
                <p:separator   />  

                <p:panelGrid columns="2">
                    <p:outputLabel value="#{msgs.nomcli}" />    
                    <h:outputText   value="#{c100_ContConsClient.client.nom}" />


                    <p:outputLabel  value="Adresse" />
                    <h:outputText   value="#{c100_ContConsClient.client.adresse}" > 
                    </h:outputText> 

                    <p:outputLabel value="Distance Kilométrage" />    
                    <h:outputText   value="#{c100_ContConsClient.client.distanceKM}" >
                    <f:convertNumber type="currency" currencySymbol="Km" 
                                   groupingUsed="true" 
                                   minFractionDigits="1"/>
               </h:outputText> 
                       
                </p:panelGrid>
                <p:separator   />  

                <p:dataTable value="#{c100_ContConsClient.client.lesContrats}" var="cont" sortBy="#{cont.numero}"   >

                    <p:column   headerText="N° Client"   > #{cont.leClient.numero} </p:column> 

                    <p:column headerText="Date Contrat" >
                        <h:outputText   value="#{cont.dateCont}" >
                            <f:convertDateTime pattern="dd/MM/yyyy"  timeZone="Europe/Paris"/>  
                        </h:outputText> 
                    </p:column>

                    <p:column  headerText="Montant du contrat" >#{cont.montantContrat}</p:column>

                    <p:column  headerText="Coût contrat" >#{cont.coutTotalContrat()}</p:column>

                    <p:column  headerText="Ecart" >
                        <h:outputText   value="a fair"/>
                </p:column>
                </p:dataTable>
                <p:separator   />  
            </f:view>
        </h:form>   
    </h:body>
</html>