<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui" 
      xmlns:ui="http://java.sun.com/jsf/facelets">
    <h:head>
        
      <title >Consultation des Techniciens</title>
      <h:outputStylesheet library="css" name="styles.css"/> 
       
    </h:head>
    <h:body>
            <ui:include src="c000_menu.xhtml" /> 
        <h:form>

            <f:view locale="#{c000_ContMenu.langue}">
                
                <p:separator   />     

                <p:panelGrid columns="3">

                    <p:outputLabel value="#{msgs.numtech}" for="numtech"/>

                    <p:inputText   id="numtech"   value="#{c102_ContConsTech.numtech}" />

                    <p:commandButton value="OK"   action="#{c102_ContConsTech.rechercher}" 
                                     update="@all"/>  

                </p:panelGrid>
                
                <p:separator   />  

                <p:panelGrid columns="2">
                    <p:outputLabel value="#{msgs.nomtech}" />    
                    <h:outputText   value="#{c102_ContConsTech.technicien.nom}" />


                    <p:outputLabel  value="Grade" />
                    <h:outputText   value="#{c102_ContConsTech.technicien.leGrade.libelle}" > 
                    </h:outputText> 

                    <p:outputLabel value="Date d'embauche" />    
                    <h:outputText   value="#{c102_ContConsTech.technicien.dateEmbauche}" >
                        <f:convertDateTime pattern="dd/MM/yyyy"  timeZone="Europe/Paris"/>  

                    </h:outputText> 

                    <p:outputLabel value="Coût horaire de base" />
                    <h:outputText   value="#{c102_ContConsTech.technicien.coutHoraireTechnicien()}" >
                        <f:convertNumber type="currency" currencySymbol="€" 
                                         groupingUsed="true" 
                                         minFractionDigits="2"/>
                    </h:outputText> 

                    <p:outputLabel value="Coût horaire majoré" />
                    <h:outputText   value="#{c102_ContConsTech.technicien.coeffMajo}">
                        <f:convertNumber type="currency" currencySymbol="€" 
                                         groupingUsed="true" 
                                         minFractionDigits="2"/>
                    </h:outputText> 
                </p:panelGrid>
                <p:separator   />  

                <p:dataTable value="#{c102_ContConsTech.technicien.lesInterventions}" var="interv" sortBy="#{interv.numero}"   >

                    <p:column   headerText="N° Intervention"   > #{interv.numero} </p:column> 

                    <p:column headerText="Date" >
                        <h:outputText   value="#{interv.dateInterv}" >
                            <f:convertDateTime pattern="dd/MM/yyyy"  timeZone="Europe/Paris"/>  
                        </h:outputText> 
                    </p:column>

                    <p:column  headerText="Client" >#{interv.leContrat.leClient.nom}</p:column>

                    <p:column  headerText="Ville" >#{interv.leContrat.leClient.adresse}</p:column>

                    <p:column  headerText="Distance" >
                     <h:outputText   value="#{interv.leContrat.leClient.distanceKM}">
                 <f:convertNumber type="currency" currencySymbol="Km" 
                                   groupingUsed="true" 
                                   minFractionDigits="1"/>
               </h:outputText> 
                    </p:column>

                    <p:column  headerText="Coût/KM" >
                    <h:outputText   value="#{interv.fraisKM()}">
                 <f:convertNumber type="currency" currencySymbol="€/Km" 
                                   groupingUsed="true" 
                                   minFractionDigits="1"/>
               </h:outputText> 
                    </p:column>
                    
                     <p:column  headerText="Frais KM" >
                     <h:outputText   value="#{interv.fraisKM()}">
                 <f:convertNumber type="currency" currencySymbol="€" 
                                   groupingUsed="true" 
                                   minFractionDigits="1"/>
               </h:outputText> 
                     </p:column>

                    <p:column  headerText="Durée" >
                        <h:outputText   value="#{interv.duree}">
                    <f:convertNumber type="currency" currencySymbol="H" 
                                   groupingUsed="true" 
                                   minFractionDigits="0"/>
               </h:outputText> 
                    </p:column>

                    <p:column  headerText="Coût MO" >
                    <h:outputText   value="#{interv.fraisMO()}">
                 <f:convertNumber type="currency" currencySymbol="€" 
                                   groupingUsed="true" 
                                   minFractionDigits="2"/>
               </h:outputText> 
                    </p:column>

                    <p:column  headerText="Coût Intervention" >
                    <h:outputText   value="#{interv.coutInterv()}">
                 <f:convertNumber type="currency" currencySymbol="€" 
                                   groupingUsed="true" 
                                   minFractionDigits="2"/>
               </h:outputText> 
                    </p:column>

                </p:dataTable>
                <p:separator   />  
            </f:view>
        </h:form>   
    </h:body>
</html>